<h1>Battle!</h1>
<h2>Let's get ready to play!</h2>

<form action="/names" method="post">
  <label for="Player1">First player: <input type="text" name='Player1'/></label>
  <label for="Player2">Second player: <input type='text' name='Player2'/></label>
  <button type="submit">Submit</button>
</form>
